/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2019, 8:10:46 PM
    Author     : Alex
*/

.main-layout h1
{
    width:100%;
    margin:0;
    padding:16px;
    text-align:center;
    
}

.main-layout page
{
    width:100%;
    height:100%;
    margin:0;
    align-content:center;

}